// toggle slider styling

.toggle-label {
  @extend .fs-10;
  vertical-align: middle;
  width: min-content;
  line-height: 12px;
  color: map-get($theme-colors, 'primary');
}

input[type='checkbox'].toggle {
  appearance: none;
  width: 72px;
  height: 38px;
  position: relative;
  background: map-get($theme-colors, 'white');
  border: 1px solid $color-neutral-900;
  &:disabled,
  &:disabled:checked {
    border-color: $color-neutral-700;
    opacity: 1;
    &:before {
      background: $color-neutral-700;
    }
  }
}

input[type='checkbox'].toggle:before {
  @extend .font-standard;
  display: flex;
  align-items: center;
  justify-content: center;
  content: 'OFF';
  position: absolute;
  z-index: 2;
  width: 46px;
  height: 100%;
  background: $color-neutral-900;
  left: 25px;
  top: 0;
  color: map-get($theme-colors, 'white');
  font-weight: bold;
  border-radius: 3px;
  transition: all cubic-bezier(0.3, 1.5, 0.7, 1) 0.3s;
}

input[type='checkbox'].toggle:checked {
  border: 1px solid map-get($theme-colors, 'primary');
  visibility: visible;
  &:before {
    font-family: 'Arial', sans-serif;
    content: 'ON';
    background: map-get($theme-colors, 'primary');
    left: -1px;
    color: map-get($theme-colors, 'white');
  }
}
