$ag-icons-font-codes: (
  aggregation: '\f247',
  arrows: '\f0b2',
  asc: '\f0de',
  cancel: '\f057',
  chart: '\f080',
  checkbox-checked: '\f14a',
  checkbox-indeterminate: '\f146',
  checkbox-unchecked: '\f0c8',
  color-picker: '\f576',
  column: '\f142',
  columns: '\f0db',
  contracted: '\f146',
  copy: '\f0c5',
  cross: '\f00d',
  cut: '\f0c4',
  data: '\f1c0',
  desc: '\f0dd',
  expanded: '\f0fe',
  eye-slash: '\f070',
  eye: '\f06e',
  filter: '\f0b0',
  first: '\f100',
  grip: '\f58e',
  group: '\f5fd',
  indeterminate: '\f06e',
  linked: '\f0c1',
  last: '\f101',
  left: '\f060',
  loading: '\f110',
  maximize: '\f2d0',
  menu: '\f0c9',
  minimize: '\f2d1',
  minus: '\f068',
  next: '\f105',
  none: '\f338',
  not-allowed: '\f05e',
  paste: '\f0ea',
  pin: '\f276',
  pivot: '\f074',
  plus: '\f067',
  previous: '\f104',
  radio-button-off: '\f111',
  radio-button-on: '\f058',
  right: '\f061',
  save: '\f0c7',
  small-down: '\f107',
  small-left: '\f104',
  small-right: '\f105',
  small-up: '\f106',
  tick: '\f00c',
  tree-closed: '\f105',
  tree-indeterminate: '\f068',
  tree-open: '\f107',
  unlinked: '\f127',
);
